<!DOCTYPE html>
<html>

<head>
  
    <%- include("./partials/head.ejs") %>

</head>

<body>


    <div class = 'container projects'>
      <h1>
        <% if(currentUser) { %>
          Welcome <%=currentUser.username%>!
        
       Let's see how you're doing today. Below enter the type of symptom you're experiencing, the level of severity on a 10 scale, and the date and time of the experience. </br>
       
        
  
    
    <% } else { %>
    How is your pain today? <br>
    <div className="homelinks">
    <a href="/sessions/new"><h4>Log In</h4></a>
    <a href="/users/new"><h4>Register</h4></a>
  </div>
    <% } %>
  </h1>
 
  <div class="overlay"> 
  </div>
</div>

  <% if(currentUser) { %>
    <form action="/logs" method="POST">
        <label for="type">Type:</label>
        <input id="type" name="type" type="text"><br>
        
        
            <label for="type">Pain Score:</label>
            <input id="level" name="level" type="number"><br>

            <label for="date">Date & Time:</label>
            <input id="date" name="date" type="date">

            
         
      <input type="submit" value="Add">
    </form>
    
  <% } %>
  <% if(logs) { %>
    <h2>Pain logs</h2> 
    <% for (let log of logs){ %>
    <div>
    
  </div>
      <p>
        <p1>Type:</p1> <%= log.type %>, 
        <p1>Level:</p1> <%= log.level %>,
        <p1>Date:</p1> <%= log.date %>
      </p>
     
    <%  } %> 
  <% } %>
  <nav>

    
      
      <% if(currentUser) { %>
     
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form>
      
      <% } %>
   
  </nav>

</body>

</html>