<!DOCTYPE html>
<html>

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
  
  <h1>
    <% if(currentUser) { %>
    Welcome <%=currentUser.username%>!
    <% } else { %>
    Welcome!
    <% } %>
  </h1>
  <% if(currentUser) { %>
    <form action="/logs" method="POST">
        <label for="type">Type:</label>
        <input id="type" name="type" type="text"><br>
        
        
            <label for="type">Pain Score 1-10:</label>
            <input id="level" name="level" type="number"><br>

            <label for="date">Date:</label>
            <input id="date" name="date" type="text">

            
         
      <input type="submit" value="Add">
    </form>
     
  <% } %>
  <% if(logs) { %>
    <h1>Pain logs</h1> 
    <% for (let log of logs){ %>
      <p>
        Type: <%= log.type %>, 
        Level: <%= log.level %>,
        Date: <%= log.date %>

      </p>
    <%  } %> 
  <% } %>
  <nav>

    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Register</a></li>
      <% if(currentUser) { %>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form>
      </li>
      <% } %>
    </ul>
  </nav>

</body>

</html>